extends layout 
 
block content 
  h1= title 
 
  form(id='mangoForm', action="/resource/mango", method="POST") 
    div.form-group 
        label.mangoAttr(for='Hatbrand') mango types  
        input#types(type='text', name='brand') 
    div.form-group 
        label.mangoAttr(for='material') mango colours
        input#colours(type='text', name='material') 
    div.form-group 
        label.mangoAttr(for='cost') mango cost 
        input#cost(type='number', name='cost') 
    input(type="submit") 
 
  script. 
    document.forms['mangoForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 